pre[class*='language-'] {
	--padding-y: var(--am-prism-padding-y, 1rem);
	--padding-x: var(--am-prism-padding-x, 1rem);
	padding: var(--padding-y) var(--padding-x);
	overflow: auto;
	font-size: var(--am-prism-font-size, 0.85em);
	border-radius: var(--am-prism-border-radius, 0.4em);
}

pre > code[class*='language-'] {
	padding: initial;
	font-size: 1em;
	font-weight: normal;
	font-family: var(--am-prism-font-family, ui-monospace), monospace;
	line-height: var(--am-prism-line-height, 1.5);
	background-color: initial;
}

code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-'] .line-numbers-rows {
	box-sizing: content-box;
	margin: calc(var(--padding-y) * -1) 0;
	padding: var(--padding-y) 0;
	max-height: 100%;
	overflow: hidden;
}
