/**
 * https://github.com/anotherglitchinthematrix/monochrome
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #b3b3b3;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #0f0f0f;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #0f0f0f;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #000000;
	border: var(--am-prism-border-width, 1px) solid #141414;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.variable {
	color: #b3b3b3;
}

.token.operator {
	color: #b3b3b3;
}

.token.keyword {
	color: #919191;
}

.token.number {
	color: #919191;
}

.token.constant {
	color: #919191;
}

.token.hexcode {
	color: #919191;
}

.token.attr-name {
	color: #919191;
}

.token.builtin {
	color: #808080;
}

.token.regex {
	color: #808080;
}

.token.char {
	color: #808080;
}

.token.tag {
	color: #707070;
}

.token.deleted {
	color: #707070;
}

.token.punctuation,
.token.selector {
	color: #6b6b6b;
}

.token.changed {
	color: #6b6b6b;
}

.token.inserted {
	color: #8a8a8a;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.comment {
	color: #6b6b6b;
}

:root {
	--am-prism-line-numbers-color: #6b6b6b66;
	--am-prism-line-numbers-border: #6b6b6b29;
	--am-prism-copy-color: #b3b3b3;
	--am-prism-copy-bg: #6b6b6b55;
}
