code[class*='language-'],
pre[class*='language-'] {
	color: #1a202c;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #805ad522;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #805ad522;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #ffffff;
	border: var(--am-prism-border-width, 1px) solid
		var(--am-prism-border-color);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #a0aec0;
}

.token.operator {
	color: #805ad5;
}

.token.class-name,
.token.function-definition {
	color: #805ad5;
}

.token.keyword {
	color: #3182ce;
}

.token.constant {
	color: #3182ce;
}

.token.hexcode {
	color: #3182ce;
}

.token.tag {
	color: #3182ce;
}

.token.string {
	color: #38a169;
}

.token.inserted {
	color: #38a169;
}

.token.variable {
	color: #1a202c;
}

.token.deleted {
	color: #e53e3e;
}

.token.changed {
	color: #d69e2e;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #a0aec077;
	--am-prism-border-color: #a0aec055;
	--am-prism-copy-color: #3182ce;
	--am-prism-copy-bg: #a0aec033;
}
