code[class*='language-'],
pre[class*='language-'] {
	color: #4e5377;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #6e6a8614;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #6e6a8614;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #fdfdfe;
	border: var(--am-prism-border-width, 1px) solid var(--am-prism-border-color);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #8388ad;
	font-style: italic;
}

.token.constant {
	color: #3788be;
}

.token.hexcode {
	color: #3788be;
}

.token.punctuation {
	color: #3788be;
}

.token.number {
	color: #f19a8e;
}

.token.builtin {
	color: #f19a8e;
}

.token.keyword,
.token.tag {
	color: #7397de;
}

.token.attr-name {
	color: #77aab3;
}

.token.selector {
	color: #77aab3;
}

.token.attr-value,
.token.string {
	color: #886cdb;
}

.token.function {
	color: #f19a8e;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #8388ad88;
	--am-prism-border-color: #8388ad55;
	--am-prism-copy-color: #4e5377;
	--am-prism-copy-bg: #8388ad22;
}
