/**
 * https://github.com/drcmda/poimandres-theme
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #a6accd;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #717cb425;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #717cb425;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #1b1e28;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #767c9db0;
}

.token.punctuation {
	color: #767c9db0;
}

.token.builtin {
	color: #add7ff;
}

.token.variable {
	color: #add7ff;
}

.token.function {
	color: #add7ff;
}

.token.string {
	color: #add7ff;
}

.token.constant {
	color: #e4f0fb;
}

.token.keyword {
	color: #5de4c7;
}

.token.tag {
	color: #5de4c7;
}

.token.deleted {
	color: #5de4c7;
}

.token.number {
	color: #5de4c7;
}

.token.char {
	color: #5de4c7;
}

.token.symbol {
	color: #5de4c7;
}

.token.inserted {
	color: #5de4c7;
}

.token.operator {
	color: #91b4d5;
}

.token.changed {
	color: #91b4d5;
}

.token.attr-name {
	color: #91b4d5;
}

.token.selector {
	color: #91b4d5;
}

.token.boolean {
	color: #d0679d;
}

.token.hexcode {
	color: #ffffff;
}

.token.regex {
	color: #5fb3a1;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #767c9d22;
}

.line-numbers .line-numbers-rows > span:before {
	color: #767c9d77;
}
