/**
 * https://github.com/nyomansunima/boola
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #1f2328;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #e8eaec;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #e8eaec;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #ffffff;
	border: var(--am-prism-border-width, 1px) solid #6e778133;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #6e7781;
}

.token.punctuation {
	color: #6e7781;
}

.token.string {
	color: #6e7781;
}

.token.constant {
	color: #cf222e;
}

.token.char {
	color: #cf222e;
}

.token.hexcode {
	color: #0550ae;
}

.token.builtin {
	color: #0550ae;
}

.token.variable {
	color: #0550ae;
}

.token.function {
	color: #8250df;
}

.token.tag {
	color: #341685;
}

.token.regex {
	color: #0a3069;
}

.token.keyword {
	color: #c22fc2;
}

.token.property {
	color: #1f1b3c;
}

.token.attr-name {
	color: #cd14c4;
}

.token.selector {
	color: #cd14c4;
}

.token.deleted {
	color: #82071e;
}

.token.inserted {
	color: #116329;
}

.token.changed {
	color: #953800;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #6e778177;
	--am-prism-border-color: #6e778133;
	--am-prism-copy-color: #0550aedd;
	--am-prism-copy-bg: #6e778111;
}
