/**
 * https://github.com/deadrevolver/dark-space
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #a9b1d6;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #515c7e40;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #515c7e40;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #1a1b26;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #41446b;
	font-style: italic;
}

.token.keyword {
	color: #7bccfc;
}

.token.string {
	color: #7bccfc;
}

.token.symbol {
	color: #7bccfc;
}

.token.constant {
	color: #7bccfc;
}

.token.attr-name {
	color: #7bccfc;
}

.token.operator {
	color: #7bccfc;
}

.token.selector {
	color: #7bccfc;
}

.token.punctuation {
	color: #4d5288;
}

.token.builtin {
	color: #a779f3;
}

.token.number {
	color: #a779f3;
}

.token.variable {
	color: #a779f3;
}

.token.inserted {
	color: #a779f3;
}

.token.hexcode {
	color: #9aa5ce;
}

.token.function {
	color: #87a1ff;
}

.token.tag {
	color: #f7768e;
}

.token.char {
	color: #b79dff;
}

.token.regex {
	color: #b79dff;
}

.token.property {
	color: #9abdf5;
}

.token.deleted {
	color: #ff5370;
}

.token.changed {
	color: #6183bb;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #41446baa;
	--am-prism-border-color: #41446b33;
	--am-prism-copy-color: #7bccfc;
	--am-prism-copy-bg: #41446b55;
}
