code[class*='language-'],
pre[class*='language-'] {
	color: #e2e8f0;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #a78bfa22;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #a78bfa22;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #1e293b;
	border: var(--am-prism-border-width, 1px) solid var(--am-prism-border-color);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #94a3b8;
}

.token.operator {
	color: #a78bfa;
}

.token.constant {
	color: #60a5fa;
}

.token.hexcode {
	color: #60a5fa;
}

.token.tag {
	color: #60a5fa;
}

.token.attr-name {
	color: #67e8f9;
}

.token.selector {
	color: #67e8f9;
}

.token.function {
	color: #67e8f9;
}

.token.tag,
.token.keyword {
	color: #60a5fa;
}

.token.attr-value,
.token.string {
	color: #34d399;
}

.token.inserted {
	color: #34d399;
}

.token.variable {
	color: #e2e8f0;
}

.token.deleted {
	color: #e53e3e;
}

.token.changed {
	color: #d69e2e;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #94a3b877;
	--am-prism-border-color: #94a3b833;
	--am-prism-copy-color: #60a5fa;
	--am-prism-copy-bg: #94a3b833;
}
