/**
 * https://github.com/catppuccin
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #cad3f5;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #939ab740;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #939ab740;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #24273a;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.variable {
	color: #cad3f5;
}

.token.regex {
	color: #cad3f5;
}

.token.punctuation {
	color: #8bd5ca;
}

.token.operator {
	color: #8bd5ca;
}

.token.comment {
	color: #6e738d;
	font-style: italic;
}

.token.string {
	color: #a6da95;
}

.token.inserted {
	color: #a6da95;
}

.token.char {
	color: #f5bde6;
}

.token.constant {
	color: #f5bde6;
}

.token.number {
	color: #f5a97f;
}

.token.builtin {
	color: #f5a97f;
}

.token.boolean {
	color: #f5a97f;
}

.token.changed {
	color: #f5a97f;
}

.token.keyword {
	color: #c6a0f6;
}

.token.tag {
	color: #c6a0f6;
}

.token.function {
	color: #8aadf4;
	font-style: italic;
}

.token.class-name {
	color: #eed49f;
	font-style: italic;
}

.token.attr-name {
	color: #ed8796;
}

.token.selector {
	color: #ed8796;
}

.token.deleted {
	color: #ed8796;
}

.token.property {
	color: #8aadf4;
}

.token.symbol {
	color: #ee99a0;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #6e738d22;
}

.line-numbers .line-numbers-rows > span:before {
	color: #6e738d88;
}
